# Numpy

Numpy is a numerical library for python, used to work with numbers efficiently

In [1]:
import seaborn as sns

iris = sns.load_dataset('iris')

In [2]:
iris
iris.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [3]:
iris.shape

(150, 5)

In [4]:
iris.describe() #numerical

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [5]:
iris['species'].nunique()

3

# Got

In [6]:
#TO USE datadotworld PACKAGE:
#1. create account at data.world, then run the next two lines:
#2. in terminal/powershell: pip install datadotworld[pandas]
#
#   IF THIS DOESN'T WORK BC YOU GET AN ERROR ABOUT "CCHARDET", RUN:
#    conda install -c conda-forge cchardet
#   THEN RERUN: pip install datadotworld[pandas] 
#
#3. in terminal/powershell: dw configure          
#3a. copy in API token from data.world (get from settings > advanced)

import datadotworld as dw
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

baby_names = dw.load_dataset('nkrishnaswami/us-ssa-baby-names-national')
baby_names = baby_names.dataframes['names_ranks_counts']

ModuleNotFoundError: No module named 'datadotworld'

In [ ]:
baby_names
baby_names.head(10)
baby_names.shape
baby_names.describe() #does it all make sense? any data issues?
baby_names['sex'].value_counts()

In [ ]:
somenames = baby_names.loc[baby_names['name'] == 'John']
combined = somenames.groupby('name','year')['count'].sum().reset_index() #group by variables of the same time

In [ ]:
#arya and sansa
# | means 'or" to pandas
names_i_want = (baby_names['name','year'])['count'].sum().reset_index()

In [ ]:
sns.linkeplot(data=combined, x='year',y='count', hue = 'name')

In [ ]:
#Query
somenames = baby_names.query('name in ["Arya","Sansa"]')
combined = somenames.groupby(['name','year'])['count'].sum().reset_index()
sns.lineplot(data=combined,x='year', y='count',hue='name')

In [ ]:
( #parenthesis 
baby_names
    .query('name in ["Arya","Sansa"]')
    .groupby(['name','year'])['count'].sum().reset_index() #combine M-F
    .pipe( #pipe in a function to apply to the object
            #syntax: <function>, arg1, arg2,...
        (sns.lineplot,'data') #call the function and tell it that the object in memory goes to the parameter 'data'
        ,x = 'year',y='count',hue='data'
    )
)
#copy from lecture if it doesn't run

# My Turn Fred Data

In [ ]:
import datetime
import pandas_datareader as pdr

start = datetime.datetime(2010, 1, 1) # you can specify start and end dates this way
end = datetime.datetime(2013, 1, 27)
macro_df = pdr.data.DataReader(['GDP','CPIAUCSL'], 'fred', start, end)

#what is the second series? CPI index for all urban consumers
#what is the frequency of the series? quarterly
#what is the average ANNUAL GDP, based on the data?

In [ ]:
macro_df = pdr.data.DataReader(['GDPCA'], 'fred', start, end)

In [ ]:
macro_df.describe()